---
layout: default
---

<section>
  <h2 class="post-title">
    <a href="{{ post.url }}" title="{{ post.title }}">{{ page.title }}</a>
    <span class="date-of-post">{{ page.date | date_to_string }}</span>
  </h2>
   {{ content }}
</section>
<section class="pagination">
  {% if page.previous.url %}
  <div class="pagination-item older"><a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}">&larr; Older Post</a></div>
  {% else %}
  <div class="pagination-item older"><span>&larr; Older Post</span></div>
  {% endif %}

  <div class="pagination-item blog"><a href="{{ site.baseurl }}/archive">All Posts</a></div>

  {% if page.next.url %}
  <div class="pagination-item newer"><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">Newer Post &rarr;</a></div>
  {% else %}
  <div class="pagination-item newer"><span>Newer Post &rarr;</span></div>
  {% endif %}
</section>